footer {
  background: #333;
  color: white;
  padding: 32px 0;
  text-align: left;

  a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
      color: #FFFFFF;
      font-weight: 600;
    }

    &.bold { font-weight: 700; }
  }

  h5 {
    font-size: 20px;
    margin: 0 0 16px 0;
  }

  div.container {
    max-width: 1216px;
    padding: 24px;
    margin: 0 auto 68px auto;

    display: grid;
    grid-template-columns: 40% 60%;
  }

  .footer_project_info {
    img {
      height: 40px;
      margin-bottom: 16px;
    }

    li > b {
      font-weight: 700;
      margin-right: 8px;
    }
  }
  .footer_shortcut_layout {
    display: flex;
    justify-content: space-around;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin: 0;
    }
  }

  @media only screen and (max-width: 768px) {
    div.container {
      gap: 32px;
      margin: 0 auto 32px auto;
      grid-template-columns: 100%; /* 한 열로 표시 */
    }

    .footer_shortcut_layout {
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
    }

    h5 {
      margin: 0 0 4px 0;
    }
  }
}