.upload_layout {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;

  .upload_image:focus {
    outline: 2px solid #0064FF;
    border-radius: 5px;
  }

  .upload_img_layout {
    position: relative;

    button {
      position: absolute;
      top: 4px;
      right: 4px;
      width: auto;
      height: 28px;
      padding: 0;
      border-radius: 50%;
      background: #F1F1F1;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: #E1E1E1;
      }
    }
  }

  .upload_demo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 210px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid var(--more-lighter, #E1E1E1);
    background: #F1F1F1;

    &:hover {
      background: #E1E1E1;
    }
  }

  img {
    width: 280px;
    height: 210px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid var(--more-lighter, #E1E1E1);
    background: #F1F1F1;
  }

  p {
    margin: 0;
    font-size: 20px;
  }
}
