.mentoring_techstack_list {
  padding: 16px;
  border-radius: 5px;
  background: #F9F9F9;

  .search_layout {
    padding: 8px 0;
    min-width: min(160px, 100%);
    width: auto;
  }

  .tech_search_layout {
    display: flex;
    align-items: center;

    input {
      min-width: 200px;
      height: 37px;
      background: white;
      border-radius: 20px;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
    }

    svg {
      transform: translateX(-36px);
      tab-index: -1;
    }

    span {
      color: #999999;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
    }
  }

  .mentoring_selected_tech_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 8px 0;
    list-style: none;

    li {
      position: relative;
      margin: 16px;

      button {
        position: absolute;
        top: -8px;
        right: -8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        background: white;
        cursor: pointer;
        z-index: 1;
      }

      img {
        width: 80px;
        height: 80px;
      }
    }
  }

}