$color-more-lighter: #E1E1E1;

nav {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 0 16px;
  background: white;
  border-bottom: 1px solid $color-more-lighter;
  //box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;

  & > div {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 64px);
    max-width: 1216px;
    margin: 0 auto;
    text-align: center;
    padding: 16px 32px;
    height: 48px;
    gap: 16px;

    .nav_menu_layout {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4px;

      & > a {
        display: flex;
        align-items: center;
      }
    }
  }

  .nav_menu_layout > a:first-child {
    //height: 20px;
  }

  button.link {
    font-size: 16px;
    text-decoration: none;
  }

  img.logo {
    height: 40px;
    will-change: filter;
    transition: filter 300ms;
    object-fit: cover;
  }

  ul.nav_menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
    padding-top: 16px;
    li {
      margin-left: 48px;
      &:first-child {
        margin-left: 42px;
      }
    }
  }

  .user_modal {
    display: block;
    position: relative;
    height: calc(100vh - 52px);
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  ul.mobile_menu_layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      flex: auto;
      align-items: center;
      justify-content: center;

      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }

      a {
        color: var(--black, #333);
        font-size: 15px;
        font-weight: 500;
        line-height: 150%;
        padding: 8px;
        width: 100%;
        margin: 0;
        text-align: center;

        &:hover, &.selected {
          color: var(--color-primary, #0064FF);
        }
      }
    }
  }

  div.user_icon_layout {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    button {
      height: 28px;
      padding: 0;
      margin: 0;
      background: transparent;
      border-radius: 0;
    }
  }

  @media only screen and (max-width: 860px) {
    & > div {
      padding: 12px 8px 12px 16px;
      width: calc(100% - 24px);
      height: 28px;
    }

    img.logo {
      height: 30px;
    }

    ul.nav_menu {
      a {
        font-size: 14px;
      }
    }

    div.user_icon_layout {
      gap: 0;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        &:hover, &.selected {
          background: rgba(0, 0, 0, 0.05);
        }
      }

      button.link {
        width: auto;
        height: 32px;
        border: 1px solid #E1E1E1;
        border-radius: 5px;
        padding: 0 14px;
        font-size: 13px;
        color: #0064FF;
        font-weight: 600;
        transition: background 300ms;

        &:hover, &.selected {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }

    ul.nav_menu {
      padding-top: 0;
      li {
        margin-left: 16px;
        &:first-child {
          margin-left: 12px;
        }
      }
    }
  }
}


.modal_layout {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 120;
  background: transparent;

  .modal_background {
    width: 400px;
    background: #F9F9F9;
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
    position: absolute;
    top: 81px;
    right: 10px;
  }

  .modal_menu_background {
    z-index: 122;
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .alarm_modal {
  }

  button.svg_button {
    padding: 0;
    margin: 0;
    background: transparent;
    border-radius: 0;
    height: auto;
  }

  button.link {
    padding: 0;
    margin: 0;
    background: transparent;
    border-radius: 0;
    text-decoration: underline;
    height: auto;

    color: #FF8E8E;
    font-size: 16px;;
    font-weight: 500;
    line-height: 150%;

    &:hover {
      color: #FF8E8E;
    }
  }
}

.alarm_content_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 128px;
  background: white;
  border-radius: 5px;
  border: 1px solid #E1E1E1;

  button {
    font-size: 16px;
    color: #333333;
    padding: 12px 8px;
    background: transparent;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
}

.alarm_header_layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #E1E1E1;
  background: white;

  div {
    display: flex;
    align-items: center;
  }

  .header_title_layout {
    gap: 12px;
  }
  .header_button_layout {
    gap: 8px;
  }


  h3 {
    color: var(--black, #333);
    font-size: 20px;
    font-weight: 600;
    line-height: 150%; /* 30px */
    margin: 0;
  }
}

.alarm_content_layout {
  max-height: 600px;

  & > div {
    margin: 24px;
  }

  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }

  .category_layout_container {
    position: sticky;
    top: 0;

    .category_layout {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding: 0;

      li {
        word-break: keep-all;
      }
    }
  }

  .alarm_contents_container {
    overflow-y: auto;
    max-height: 420px;

    .alarm_contents {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-top: 0;
      overflow-x: auto;
    }
  }

  .alarm_content {
    border-radius: 5px;
    border: 1px solid var(--more-lighter, #E1E1E1);
    background: #FFF;
    padding: 16px;
    cursor: pointer;

    &:hover, &.read {
      background: rgba(0, 0, 0, 0.05);
    }

    .alarm_content_header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      gap: 8px;

      div {
        display: flex;
        align-items: flex-start;
        gap: 8px;

        p { padding-top: 4px; }

        img {
          width: 36px;
          height: 36px;
          border-radius: 5px;
          border: 1px solid #DDD;
        }

        h4 {
          color: var(--black, #333);
          font-size: 16px;
          font-weight: 500;
          line-height: 150%;
          margin: 0;
        }

        p {
          white-space: nowrap;
        }
      }

      button.image_button {
        padding: 0;
        margin: 0;
        background: transparent;
        border-radius: 5px;
        width: 24px;
        height: 24px;
        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }

    p {
      padding: 0;
      margin: 0;
      text-align: left;
    }
  }
}

.user_modal {
  padding: 0;

  .user_header_layout {
    display: flex;
    flex: auto;
    gap: 24px;
    padding: 27px 24px 24px 24px;
    border-bottom: 1px solid #E1E1E1;

    img {
      width: 80px;
      height: 80px;
      border-radius: 5px;
      border: 1px solid #DDD;
    }

    h3 {
      color: var(--black, #333);
      font-size: 20px;
      font-weight: 600;
      line-height: 150%;
      margin: 0;
    }

    div {
      flex: auto;

      div {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    button {
      position: absolute;
      top: 21px;
      right: 18px;
    }

    p {
      margin: 8px 0 4px 0;
      text-align: initial;
    }

    .seekbar {
      width: 100%;
      height: 12px;
      background: #F1F1F1;
      border-radius: 50px;
      position: relative;

      div {
        width: 100px;
        height: 100%;
        background: #0064FF;
        border-radius: 50px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .user_modal_contents {
    padding: 0;
    margin: 0;
    a {
      text-decoration: none;
      height: auto;
      padding: 0;
      margin: 0;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    li {
      list-style: none;
      padding: 18px 20px 17px 24px;
      margin: 0;
      border-bottom: 1px solid #E1E1E1;

      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }

      h4 {
        color: var(--black, #333);
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        margin: 0;
      }
    }
  }

  .user_footer_layout {
    display: flex;
    justify-content: right;
    padding: 24px 18px;
    gap: 16px;

    button {
      border-radius: 5px;
      background: rgba(255, 142, 142, 0.10);
      padding: 6px 10px;
      text-decoration: none;
      color: #FF8E8E;

      &:hover {
        background: rgba(255, 142, 142, 0.20);
        color: #FF8E8E;
      }

      &.normal {
        background: transparent;
        border: 1px solid rgba(255, 142, 142, 0.20);

        &:hover {
          background: rgba(255, 142, 142, 0.20);
          color: #FF8E8E;
        }
      }
    }
  }
}
