$color-more-lighter: #E1E1E1;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background: white;
  border-bottom: 1px solid $color-more-lighter;
  //box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;

  & > div {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 1216px;
    margin: 0 auto;
    text-align: center;

    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4px;
    }
  }

  .nav_menu_layout > a:first-child {
    height: 20px;
  }

  img.logo {
    height: 20px;
    will-change: filter;
    transition: filter 300ms;
    object-fit: cover;
  }

  ul.nav_menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
    li {
      margin-left: 64px;
      &:first-child {
        margin-left: 60px;
      }
    }
  }

  div.user_icon_layout {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;

    button {
      height: 28px;
      padding: 0;
      margin: 0;
      background: transparent;
      border-radius: 0;
    }
  }
}
