.project_card {
  background: white;
  width: 376px;
  min-width: 30%;
  border-radius: 5px;
  border: 1px solid #E1E1E1;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  div.thumbnail_image_container {
    position: relative;
    width: 100%;
    height: 200px;

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 5px;
    }

    .no_image {
      width: 100%;
      height: 200px;
      background: var(--gray, #777);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;

      h2 {
        color: white;
        font-size: 24px;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        margin: 20px;
      }
    }

    div.finished_filter {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 200px;
      border-radius: 5px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      backdrop-filter: grayscale(100%);

      span {
        color: var(--gray, #777);
        font-size: 12px;
        font-weight: 400;
        margin: 20px;
        padding: 4px 12px;
        border-radius: 50px;
        background: var(--more-lighter, #E1E1E1);
      }
    }
  }

  .info_layout {
    padding: 20px;
    height: calc(100% - 243px);
    display: flex;
    flex-direction: column;

    .project_info_detail_layout {
      flex: auto;
    }

    .name_layout {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-size: 16px;
        font-weight: 700;
        margin: 0;
      }
    }

    h4 {
      margin: 8px 0 4px 0;
      color: var(--gray, #777);
      font-size: 12px;
      font-weight: 500;
    }
  }

  button {
    width: 20px;
    height: 20px;
    border: none;
    background: transparent;
    padding: 0;

    img {
      min-width: 20px;
      width: 20px;
      height: 20px;
      border: none;
    }
  }

  p {
    margin: 0;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .project_user_layout {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 8px;

    .user_layout {
      display: flex;
      align-items: end;
      gap: 8px;

      &:hover {
        text-decoration-line: underline;
      }

      p {
        color: var(--gray, #777);
        font-size: 12px;
        font-weight: 500;
      }

      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  h4 {
    margin: 16px 0 4px 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
    gap: 8px;

    li {
      img {
        width: 24px;
        height: 24px;
        border-radius: 0;
        object-fit: cover;
      }

      .stack_layout {
        img{
          border-radius: 5px;
        }

        span {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }
  }
}