.user_card {
  width: 280px;
  padding: 16px;
  background: white;
  border-radius: 5px;
  border: 1px solid #DDD;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    h3 {
      text-decoration: underline;
    }
  }

  h3 {
    margin: 0;
    color: var(--gray, #777);
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
  }

  img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #E1E1E1;
  }

  .user_info_header {
    display: flex;
    gap: 8px;
    align-items: end;
  }

  .user_info_body {
    display: flex;
    gap: 16px;
  }

  .user_tag_layout {
    display: flex;
    align-items: center;
    margin: 4px 0;
    gap: 8.27px;

    > * {
      margin: 0;
    }

    h5 {
      color: var(--gray, #777);
      font-size: 12px;
      font-weight: 500;
      line-height: 150%;
    }

    p {
      font-size: 12px;
    }
  }

  h4 {
    margin: 12px 0 4px 0;
    color: var(--gray, #777);
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
  }

  .heart_count_layout {
    margin-top: 3px;
  }

  ul.user_tech_layout {
    display: flex;
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
    gap: 8px;

    li {
      img {
        width: 32px;
        height: 32px;
        border-radius: 0;
        border: none;
        object-fit: cover;
      }
    }
  }
}