.user_card {
  width: 280px;
  padding: 16px;
  background: white;
  border-radius: 5px;
  border: 1px solid #DDD;
  cursor: pointer;

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    h3 {
      text-decoration: underline;
    }
  }

  h3 {
    margin: 0;
    color: var(--gray, #777);
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
  }

  img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #E1E1E1;
  }

  p {
    font-size: 12px;
    margin: 0;
  }

  .user_info_layout {
    flex: auto;
  }

  .user_info_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .user_nickname_layout {
      display: flex;
      gap: 8px;
      align-items: end;
    }

    button.image_button {
      padding: 0;
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  .user_info_body {
    display: flex;
    gap: 16px;
  }

  .user_tag_layout {
    display: flex;
    align-items: center;
    margin: 4px 0;
    gap: 8.27px;

    > * {
      margin: 0;
    }

    h5 {
      color: var(--gray, #777);
      font-size: 12px;
      font-weight: 500;
      line-height: 150%;
    }
  }

  .user_feedback_layout {
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;

    & > button {
      font-size: 16px;
    }
  }

  h4 {
    margin: 12px 0 4px 0;
    color: var(--gray, #777);
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
  }

  .heart_count_layout {
    margin-top: 3px;
  }

  ul.user_tech_layout {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
    gap: 8px;

    li {
      img {
        width: 24px;
        height: 24px;
        object-fit: fill;
      }

      span {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }

  // 크기가 다를 때, 레이아웃 바닥으로 붙이기
  div.user_heart_layout {
    display: flex;
    justify-content: left;
    margin-top: 4px;
  }

  .user_position_layout {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

    & > div {
      display: flex;
      gap: 8px;
    }

    span, button {
      box-sizing: border-box;
      border-radius: 50px;
      background: var(--color-primary, #0064FF);
      font-size: 14px;
      font-weight: var(--size-regular);
      color: white;
      height: 36px;
      padding: 6px 16px;
    }

    button {
      padding: 8px 16px;

      &:hover {
        background: var(--color-primary-hover, #0053CC);
      }

      &.cancel {
        border: 1px solid var(--gray, #777);
        background: var(--gray, #777);

        &:hover {
          background: var(--black, #333);
          border: 1px solid var(--black, #333);
        }
      }

      &:disabled {
        color: var(--light-gray, #999);
        background: white;
        border: 1px solid var(--light-gray, #999);
      }
    }
  }
}