.apply_dialog {
  .dialog_header {
    gap: 12px;
    span.type_box {
      border-radius: 5px;
      background: rgba(0, 100, 255, 0.10);
      padding: 6px 10px;

      color: #0064FF;
      font-size: 12px;
      font-weight: 400;
      line-height: 150%;
    }
  }

  h4 {
    color: var(--black, #333);
    font-size: 18px;
    font-weight: 500;
    margin: 24px 0 16px 0;
  }

  .user_info_layout {
    display: flex;
    align-items: flex-end;
    gap: 8px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #DDD;
    }

    h4 {
      margin: 0;
    }
  }

  p {
    margin: 8px 0;
  }

  textarea {
    height: 140px;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      margin-top: 8px;

      border-radius: 5px;
      border: 1px solid var(--more-lighter, #E1E1E1);
      background: #FFF;
      cursor: pointer;

      div {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      h5 {
        color: var(--black, #333);
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        margin: 0;
      }

      span {
        color: var(--gray, #777);
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
      }

      &:hover {
        border: 1px solid var(--toss-blue, #0064FF);
      }

      &.selected {
        background: rgba(0, 100, 255, 0.1);
        border: 1px solid rgba(0, 100, 255, 0.1);

        h5, span {
          color: var(--toss-blue, #0064FF);
        }
      }

      &.disabled {
        background: transparent;
        border: 1px solid var(--more-lighter, #E1E1E1);
        cursor: not-allowed;

        h5, span {
          color: var(--more-lighter, #E1E1E1);
        }

        .num_layout {
          color: #FF8E8E;
        }
      }
    }
  }

  .dialog_footer {
    background: #F9F9F9;
  }
}