.evaluation_dialog {
  min-width: 420px;
  .dialog_header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    gap: 12px;

    span.type_box {
      border-radius: 5px;
      background: rgba(0, 100, 255, 0.10);
      padding: 6px 10px;

      color: #0064FF;
      font-size: 12px;
      font-weight: 400;
      line-height: 150%;
    }
  }

  h4 {
    color: var(--black, #333);
    font-size: 18px;
    font-weight: 500;
    margin: 24px 0 16px 0;
  }

  .user_info_layout {
    display: flex;
    align-items: flex-end;
    gap: 8px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 5px;
      border: 1px solid #DDD;
    }

    h4 {
      margin: 0;
    }
  }

  .scoring_layout {
    display: flex;
    align-items: center;
    gap: 8px;

    button {
      flex: 1;
      height: 100px;
      border-radius: 5px;
      border: 1px solid #DDD;
      background: #FFF;
      color: #333;
      font-size: 16px;
      font-weight: 500;

      &:hover {
        border: 1px solid var(--toss-blue, #0064FF);
      }

      &.selected {
        background: rgba(0, 100, 255);
        color: #FFF;
        border: 1px solid rgba(0, 100, 255, 0.1);
      }
    }
  }

  ul.evaluation_list {
    list-style: none;
    padding: 0;

    li.radio_li {
      h5 {
        font-size: 18px;
        margin: 16px 0 8px 0;
      }

      div {
        display: flex;
        gap: 8px;

        div {
          display: flex;
          flex: 1;
          flex-flow: column;
          justify-content: flex-start;
          align-items: center;
        }

        input[type='radio'] {
          vertical-align: middle;
          //appearance: none;
          border: max(2px, 0.1em) solid gray;
          border-radius: 50%;
          width: 16px;
          height: 16px;
          min-width: auto;
        }

        label {
          word-break: keep-all;
          word-wrap: break-word;
          white-space: pre;
        }
      }
    }
  }

  .contents_box {
    height: 200px;
  }
}