.mentee_manage_dialog {
  min-width: 360px;

  .stat_contents_layout {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    gap: 8px;
    margin: 8px 0;

    & > * {
      margin: 0;
      padding: 0;
    }

    h5 {
      font-size: 14px;
    }

    p {
      line-height: unset;
    }
  }
}