.chat_page {
  h1 {
    font-size: 32px;
    margin: 64px 0 32px 0;
  }

  div.user_profile_div {
    display: flex;
    gap: 6px;

    span {
      font-size: 16px;
      font-weight: 700;
      color: #333333;
    }
  }

  div.chat_border_layout {
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-gap: 16px;

    padding: 16px;
    border-radius: 5px;
    background: #F9F9F9;
    height: 600px;

    div.chat_list_layout {
      max-height: 600px;
      overflow: auto;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          align-items: flex-start;
          gap: 8px;
          padding: 8px;
          border-radius: 5px;
          cursor: pointer;
          background: white;
          border: 1px solid #E1E1E1;

          &:hover {
            background: #E1E1E1;
          }
          &.selected {
            border: 1px solid #0064FF;
          }

          img {
            width: 48px;
            height: 48px;
            border-radius: 5px;
          }

          div.chat_list_view_header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 8px;

            div:nth-child(2) {
              display: flex;
              align-items: center;
              gap: 4px;

              span {
                font-size: 12px;
                font-weight: 500;
                color: #999999;
              }
            }
          }

          div.chat_list_view_body {
            display: flex;
            justify-content: space-between;
            gap: 6px;

            span {
              font-size: 12px;
              font-weight: 300;
              color: #333333;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            span.unread_count {
              display: flex;
              justify-content: center;
              align-items: center;

              width: 20px;
              height: 20px;
              font-size: 12px;
              font-weight: 700;
              color: white;
              border-radius: 500px;
              background: #0064FF;
            }
          }
        }
      }
    }
  }

  div.chatting_layout {
    display: flex;
    flex-direction: column;

    background: white;
    border-radius: 5px;
    border: 1px solid #E1E1E1;
    padding: 0 16px 16px 16px;

    max-height: 584px;
    height: 584px;
    overflow: hidden;
  }

  div.user_profile_layout {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    position: sticky;
    top: 0;
    padding: 16px 0;
    background: white;

    img {
      width: 64px;
      height: 64px;
      border-radius: 5px;
    }
  }

  div.chat_contents_layout {
    flex: auto;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 414px;

    ul {
      display: flex;
      flex-flow: column-reverse;
      list-style: none;
      padding: 0;
      margin: 0;

      &.not_reverse {
        flex-flow: column;
      }
    }

    li {
      display: flex;
      align-items: flex-end;
      flex-flow: row;
      padding: 4px;
      gap: 8px;

      &.my_chat {
        flex-flow: row-reverse;
        span {
          background: rgba(0, 100, 255, 0.1);
        }
      }

      span {
        padding: 8px 16px;
        border-radius: 16px;
        background: #E1E1E1;
      }
      span.is_read {
        color: #0064FF;
        border-radius: 0;
        background: none;
        padding: 0;
        font-size: 12px;
      }
    }
  }

  div.chat_submit_layout {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
    padding-top: 16px;
    background: white;

    textarea {
      min-width: auto;
      height: 100%;
      flex: auto;
      padding: 8px;
      font-size: 16px;
    }

    button {
      word-break: keep-all;
      padding: 22px 24px;
    }
  }
}