.feed_detail_page {
  margin: 64px auto 120px;
  max-width: 780px;
  padding: 0 16px;

  .feed_detail_header {
    margin: 32px 0;
    p.domain {
      font-size: 20px;
      font-weight: 500;
      color: var(--color-primary, #333);
      margin: 8px 0;
    }

    p {
      margin: 0;
    }

    h1 {
      font-size: 40px;
      text-align: start;
      margin: 8px 0;
    }

    span {
      font-size: 16px;
      color: var(--color-gray, #777);
    }

    div.user_heart_layout {
      display: flex;
    }

    @media screen and (max-width: 768px) {
      p.domain { font-size: 16px; }
      h1 { font-size: 28px; }
    }
  }

  .contents_box {
    p {
      font-size: 16px;
      color: var(--color-black, #333);
      margin: 16px 0;
    }

    img {
      width: 100%;
      margin: 16px 0;
      border-radius: 5px;
    }
  }

  button.image_button {
    padding: 0;
    margin: 0 2px;
    line-height: 0;
  }

  .feed_footer {
    display: flex;
    align-items: center;
    margin: 32px 0;
    gap: 16px;

    > div {
      display: flex;
      align-content: center;
      gap: 8px;
    }
  }

  .feed_user_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 32px 0;
    background: #F9F9F9;
    padding: 16px;
    border-radius: 5px;

    > div {
      display: flex;
    }

    img {
      width: 64px;
      height: 64px;
      margin-right: 16px;
      border-radius: 5px;
      border: 1px solid #ddd;
    }

    @media screen and (max-width: 768px) {
      img {
        width: 48px;
        height: 48px;
      }

      .feed_user_info {
        h3 {
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }

  .card_layout {
    &> div {
      grid-template-columns: repeat(2, calc(50% - 8px));

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, calc(100% - 8px));
      }

      //> div {
      //  width: auto;
      //}
    }

    &.no_contents > div {
      grid: auto-flow / 1fr;
    }
  }

  .comment_layout {
    background: #F9F9F9;
    border-radius: 0 0 6px 6px;
    flex-grow: 1;
    padding: 0 16px;
    border-top: 1px solid #E1E1E1;
    margin: 0 0 8px 0;
    overflow-y: auto;

    &.no_contents {
      padding: 16px 0;
      text-align: center;
    }

    p {
      color: var(--gray, #777);
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      margin: 0;
    }

    .card_comment {
      padding: 12px 0;
      border-bottom: 1px solid #E1E1E1;
      list-style: none;

      &:last-child {
        border-bottom: none;
      }

      .card_comment_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 8px;

        & > div {
          display: flex;
          align-items: end;
          gap: 8px;
        }

        h6 {
          color: var(--light-gray, #999);
          font-size: 16px;
          font-weight: 500;
          line-height: 120%;
          margin: 0;

          a:hover, a:focus{
            text-decoration: underline;
            color: #333333;
          }
        }
      }
    }
  }

  .comment_input_layout {
    display: flex;

    input {
      flex-grow: 1;
      height: 48px;
      min-width: 0;
      font-size: 16px;
      padding: 0 12px;
    }

    button {
      height: 48px;
      font-size: 16px;
      padding: 0 16px;
    }
  }
}