.project_detail_page {
  li.email_link_li {
    position: relative;

    span {
      display: none;
      position: absolute;
      top: -80%;
      left: 50%;
      transform: translate(-50%, -10%);
      padding: 4px 16px;
      border-radius: 5px;
      background: #333333;
      color: white;
      opacity: 0;
      transition: opacity 0.2s ease;

      &.visible {
        display: inline-block;
        opacity: 1;
      }
    }
  }

  button.circle_link {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #DDD;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      border: 1px solid #0064FF;
    }

    img {
      width: 24px;
      height: 24px;
      border: none;
    }
  }

  .user_detail_header {
    margin-top: 78px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    flex-flow: column;
    gap: 8px;

    img {
      width: 140px;
      height: 140px;

      &.border {
        border-radius: 5px;
        border: 1px solid #DDD;
      }
    }

    p {
      margin: 0;
    }
  }

  .user_detail_info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    h3 {
      margin: 0;
    }

    div {
      display: flex;
      align-items: center;
      gap: 8px;

      &.modify_button_layout {
        margin: 0;
      }
    }

    .badge {
      width: 28px;
      height: 28px;
    }
  }

  .tech_stack_rank_list {
    thead {
      padding-bottom: 8px;
      th:first-child { width: 26%; }
    }

    th {
      text-align: left;
      padding-bottom: 4px;
      border-bottom: 1px solid #DDD;
    }

    td.stack_title_td > div {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    ul.tech_stack_list {
      padding-top: 8px;
      margin: 0;
      .stack_layout > img {
        width: 28px;
        height: 28px;
      }
    }

    li {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 8px;
    }

    h3 { margin: 0; }
  }

  .feedback_layout {
    margin: 0;
    padding: 0;

    li.project_detail_team_member {
      display: flex;
      width: 100%;
      padding: 8px;
      margin: 8px;
      gap: 8px;
      border-radius: 5px;
      border: 1px solid #DDD;
      background: white;

      div {
        display: flex;
        flex-direction: column;
        gap: 4px;

        p {
          margin: 0;
        }
      }
    }
  }
}