ul.fold_list_layout {
  list-style: none;
  padding: 0;

  h2 {
    font-size: 24px;
    margin: 16px 0;
  }

  .fold_action_layout {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    border-bottom: 1px solid #E1E1E1;
  }

  .fold_content_layout {
    padding: 16px;
    border-bottom: 1px solid #E1E1E1;
  }
}