// Color Scheme
$color-primary: #0064FF;
$color-white: #FFFFFF;
$color-gray: #777777;
$color-lightgray: #999999;
$color-more-lighter: #E1E1E1;
$color-header-black: #3D3D44;
$color-black: #333333;

$size-regular: 400;
$size-medium: 500;
$size-semi-bold: 600;

.main_layout {
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 32px 32px 32px;

  .header_flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .header_layout {
    display: flex;
    align-items: baseline;
    gap: 24px;
    margin: 80px 0 16px 0;

    h2 {
      margin: 0;
    }

    p {
      font-size: 20px;
    }
  }

  a {
    cursor: pointer;
    color: var(--color-gray, #777);
    font-size: 20px;
    text-decoration-line: underline;
  }
}

.list_no_contents {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;

  p {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    color: var(--light-gray, #777);
  }
}

.banner {
  position: relative;
  background-image: url('/assets/banner01.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 480px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  &.image02 {
    background-image: url('/assets/banner02.png');
    color: $color-black;
    p {
      color: $color-black;
    }
  }

  & > div > *:first-child {
    margin-top: 0;
  }
  & > div > *:last-child {
    margin-bottom: 0;
  }

  > div {
    padding: 0 32px;
    width: min(1216px, calc(100% - 64px));
    margin: 0 auto;
  }

  h1 {
    margin: 16px 0;
  }

  p {
    font-size: 16px;
    color: var(--color-white);
    margin: 0 0 24px 0;
    z-index: 2;
  }

  div.banner_button_layout {
    display: flex;
    gap: 16px;
  }

  a.button {
    height: auto;
    border: 1px solid white;
    background: transparent;
    padding: 14px 24px;
    &:hover {
      background: white;
      color: var(--color-primary);
      border: 1px solid white;
    }
  }
}

.search_layout {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 1rem;

  button {
    width: 62px;
    height: 62px;
    padding: 0;
  }
}

.card_layout {
  border-radius: 6px;
  background: #F9F9F9;
  padding: 1.2rem;

  &.no_contents > div {
    grid-template-columns: 1fr;
    background: #F9F9F9;
  }

  & > div {
    display: grid;
    grid-template-columns: repeat(3, calc(33% - 8px));
    justify-content: space-between;
    gap: 16px;

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(2, calc(50% - 8px));
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, calc(100% - 8px));
    }

    > div {
      width: auto;
    }
  }

  &.user_card_layout > div {
    grid-template-columns: repeat(4, calc(25% - 16px));

    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(3, calc(33% - 8px));
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, calc(50% - 8px));
    }
    @media screen and (max-width: 480px) {
      grid-template-columns: repeat(1, calc(100% - 8px));
    }
  }

  div.loading_component_div {
    justify-content: center;
  }
}

.feed_layout_header {
  h1 {
    margin: 80px 0 24px 0;
  }
}

.feed_background {
  background: #F9F9F9;

  .feed_layout {
    max-width: 1216px;
    margin: 0 auto;
    padding: 40px 0;
  }
}

.feed_card {
  border: 1px solid #E1E1E1;
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 6px;
  background: white;
  filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.05));

  button.follow {
    background: rgba(0, 100, 255, 0.10);
    color: var(--toss-blue, #0064FF);
  }
  button.following {
    background: white;
    color: var(--gray, #777);
    border: 1px solid var(--more-lighter, #E1E1E1);
  }
  button.image_button {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--gray, #777);
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    padding: 0;
    border-radius: 0;
    height: auto;

    &:hover {
      text-decoration-line: underline;
      background: transparent;
    }
  }

  .feed_header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 1rem;

    .feed_title_layout {
      display: flex;
      align-items: start;
      gap: 16px;

      span {
        padding-left: 8px;
        color: var(--gray, #777);
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
      }
    }

    img {
      width: 56px;
      height: 56px;
      border-radius: 5px;
      border: 1px solid #DDD;
    }

    h3 {
      margin: 0 0 8px 0;
      font-size: 24px;
      font-weight: 700;
      line-height: 120%;
    }

    .image_button_layout {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  .card_body_layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    margin-bottom: 1.2rem;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    & > div {
      max-height: 360px;
      overflow: hidden;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 6px;
      border: 1px solid #E1E1E1;
    }

    .no_image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 360px;
      object-fit: cover;
      border-radius: 6px;
      border: 1px solid #E1E1E1;
      background: #777777;

      h2 {
        color: white;
        font-size: 28px;
        font-weight: 500;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        margin: 20px;
      }
    }

    .card_body {
      display: flex;
      flex-direction: column;
      flex: auto;

      p {
        margin: 0 0 1rem 0;
      }

    }
  }

  .comment_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 12px 16px;
    border-top: 1px solid #E1E1E1;

    h5, button {
      color: var(--gray, #777);
      text-align: right;
      font-size: 16px;
      font-weight: 600;
      line-height: 150%;
      padding: 0;
      margin: 0;
    }

    button {
      text-decoration-line: underline;
      background: transparent;
      padding: 0;
      margin: 0;
      height: auto;
    }
  }

  .comment_layout {
    background: #F9F9F9;
    border-radius: 0 0 6px 6px;
    flex: auto;
    margin: 0;
    padding: 0 16px;
    border-top: 1px solid #E1E1E1;
    overflow-y: auto;

    .card_comment {
      padding: 12px 0;
      border-bottom: 1px solid #E1E1E1;
      list-style: none;

      &:last-child {
        border-bottom: none;
      }

      .card_comment_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 8px;

        & > div {
          display: flex;
          align-items: end;
          gap: 8px;
        }

        h6 {
          color: var(--light-gray, #999);
          font-size: 16px;
          font-weight: 500;
          line-height: 120%;
          margin: 0;
        }
      }

      p {
        color: var(--gray, #777);
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        margin: 0;
      }
    }
  }

  .card_comment_layout {
    display: flex;
    width: 100%;
    gap: 1rem;

    input {
      flex: auto;
      height: 52px;
      min-width: 180px;
      padding-left: 1rem;
      border: 1px solid #E1E1E1;
      border-radius: 6px;
      background: transparent;
      transition: all 0.3s ease;

      &:hover {
        border: 1px solid #2962F6;
      }
    }
  }
}

div.team_title_layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  > div {
    flex: 1;
    > h2:first-child {
      margin-top: 0;
    }

    .inputs_layout > *:first-child {
      flex: auto;
    }
  }
}

.inputs_layout {
  display: flex;
  align-items: center;
  gap: 16px;

  span, button.circle {
    color: var(--light-gray, #999);
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
  }

  button.circle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.member_selector_layout {
  padding: 0;
  margin: 12px 0;
  li {
    margin: 12px 0;
  }
}

.submit_button_layout {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 40px 0 68px 0;
}

.heart_count_layout,
.star_count_layout {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px;
  border-radius: 5px;
  background: rgba(255, 142, 142, 0.10);
  margin: 8px 0 0 0;

  p {
    color: var(--color-gray, #777);
    font-size: 10px;
    font-weight: var(--size-medium);
    line-height: 120%;
    margin: 0;
  }
}

.star_count_layout {
  background: rgba(255, 212, 62, 0.10);
}

.stack_layout {
  position: relative;

  img {
    padding: 4px;
    border-radius: 5px;
    border: 1px solid var(--more-lighter, #E1E1E1);
    background: white;
  }

  span {
    visibility: visible;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -10%);
    border-radius: 5px;
    padding: 4px 8px;
    z-index: 10;

    color: white;
    background: #333;
    opacity: 0;
    transition: opacity 0.2s ease;

    &.visible {
      opacity: 1;
    }
  }
}

.mypage_team_layout {
  .list_no_contents {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;

    & > p {
      font-size: 24px;
      font-weight: 600;
      line-height: 150%;
      color: var(--light-gray, #777);
    }
  }
}

.page_404 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  h1 {
    font-size: 100px;
    color: #333;
    margin: 0;
  }

  h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
  }

  a {
    color: #2962F6;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-image: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #00ff00, #0000ff, #4b0082, #800080);
      background-size: 500%;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      animation: rainbow-text 3s linear infinite;
    }
  }

  @keyframes rainbow-text {
    0% {
      background-position: 0 100%;
    }
    50% {
      background-position: 100% 0;
    }
  }
}

.loading_layout {
  .loading {
    margin: 5% auto;
    height: 64px;
    width: 64px;
    border: 6px solid #0064FF;
    border-right-color: #E1E1E1;
    border-top-color: #E1E1E1;
    border-radius: 100%;
    animation: spin 800ms infinite linear;
  }

  .loading_text_layout {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: var(--gray, #777);
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 150%;
      @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
          animation: highlight-text 2s linear infinite;
          animation-delay: #{$i * 0.2}s;
        }
      }
    }
  }

  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
  }

  @keyframes highlight-text {
    0%, 10% {
      color: var(--toss-blue, #0064FF);
    }
    10%, 100% {
      color: var(--gray, #777);
    }
  }
}

input.search {
  padding-right: 60px;
}

button.search_button {
  transform: translateX(-74px);
}