.blind_background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #fff 90%);
  backdrop-filter: blur(2px);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  font-size: 48px;
  font-weight: bold;
}

.main_layout {
  div.header_space_between {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}