:root {
  /*Color Scheme*/
  --color-primary: #0064FF;
  --color-white: #FFFFFF;
  --color-gray: #777777;
  --color-light-gray: #999999;
  --color-morelighter: #E1E1E1;
  --color-header-black: #3D3D44;
  --color-black: #333333;

  --size-regular: 400;
  --size-medium: 500;
  --size-semibold: 600;

  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 16px;
  font-weight: var(--size-regular);
  line-height: 150%;
  color: var(--color-header-black);

  color-scheme: light; /*dark*/
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: var(--size-medium);
  color: var(--color-gray);
  text-decoration: inherit;
  white-space: nowrap;
}
a:hover, a:focus-visible, a.selected {
  color: var(--color-primary);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 48px;
  font-weight: var(--size-semibold);
  line-height: 120%;
  margin: 80px 0 60px 0;
}

h2 {
  font-size: 32px;
  font-weight: var(--size-semibold);
  line-height: 120%;
  margin: 32px 0 16px 0;
}

h2.essential::after {
  content: "*";
  color: #FF8E8E;
  margin-left: 4px;
}

h3 {
  font-size: 16px;
  font-weight: var(--size-medium);
  line-height: 150%;
}

p {
  font-size: 12px;
  font-weight: var(--size-regular);
  line-height: 150%;
  color: #777777;
  word-break: keep-all;
}

/*Todo: 버튼 상하 중앙 정렬*/
button,
a.button {
  /*height: 54px;*/
  padding: 16px 24px;
  border-radius: 5px;
  border: none;

  font-size: 20px;
  font-weight: var(--size-semibold);
  color: var(--color-white);
  background-color: var(--color-primary);
  cursor: pointer;
  transition: border-color 0.25s;
  text-decoration: none;
  white-space: nowrap;
}
button:hover,
a.button:hover {
  background-color: #0050CC;
}

button:disabled {
  background: var(--color-morelighter);
  cursor: not-allowed;
}

button.cancel, a.button.cancel {
  background: var(--color-gray);
}
button.cancel:hover, a.button.cancel:hover {
  background: #333;
}

button.danger, button.stack.danger {
  background: #E10000;
}
button.danger:hover, button.stack.danger:hover {
  background: #CC0000;
}


button.circle {
  border-radius: 50%;
  background: transparent;
  color: var(--color-gray);
  border: 1px solid var(--color-gray);
  font-size: 14px;
  font-weight: var(--size-regular);
  height: 32px;
  width: 32px;
  padding: 8px 8px;
}

button.stack {
  border-radius: 50px;
  background: var(--color-primary, #0064FF);
  font-size: 14px;
  font-weight: var(--size-regular);
  color: white;
  height: 36px;
  padding: 8px 16px;
  white-space: nowrap;
  overflow: clip;
}
button.stack:hover {
  background: #0050CC;
  color: white;
}
button:disabled.stack {
  background: var(--color-morelighter);
}
button:disabled.stack:hover {
  border: 1px solid var(--color-morelighter);
}


button.link {
  height: auto;
  padding: 0;
  border-radius: 0;
  font-weight: var(--size-medium);
  color: var(--color-gray);
  background-color: transparent;
  text-decoration: underline;
}
button.link:hover {
  color: var(--color-primary);
  background-color: transparent;
}

button.image_button {
  background-color: transparent;
}
button.image_button:hover {
  background-color: transparent;
}

li > button {
  padding: 8px 20px;
  height: auto;
  border-radius: 500px;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;

  color: var(--color-gray, #777);
  background: white;
  border: 1px solid #E1E1E1;
}

li > button:hover {
  color: var(--color-primary, #0064FF);
  border: 1px solid var(--color-primary, #0064FF);
  background-color: transparent;
}

li > button.selected {
  color: var(--color-primary, #0064FF);
  background: rgba(0, 100, 255, 0.10);
  border: none;
}

input {
  box-sizing: border-box;
  height: 62px;
  color: var(--color-black);
  font-size: 20px;
  line-height: 150%;
  min-width: 394px;

  border-radius: 5px;
  border: 1px solid var(--color-morelighter, #E1E1E1);

  padding: 16px;
  background: transparent;
}
input::placeholder {
  color: var(--color-light-gray, #999);
}
/*input:focus, input:active, input:hover {*/
/*  border: 2px solid var(--color-primary, #0064FF);*/
/*}*/
input[type="file"] {
  display: none;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  min-width: initial;
  margin: 8px;
}
label {
  display: flex;
  align-items: center;
}

textarea {
  box-sizing: border-box;
  resize: none;
  width: 100%;
  height: 296px;
  color: var(--color-black);
  line-height: 150%;
  min-width: min(394px, 100%);

  border-radius: 5px;
  border: 1px solid var(--color-morelighter, #E1E1E1);

  padding: 24px;
  background: transparent;
}
textarea::placeholder {
  color: var(--color-light-gray, #999);
}

select {
  color: var(--color-black, #333333);
  font-size: 20px;
  line-height: 150%;
  min-width: 215px;
  height: 62px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid var(--color-morelighter, #E1E1E1);

  padding: 16px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
select::placeholder, select.is_default_value {
  color: var(--color-light-gray, #999);
}
select:hover {
  background: #F3F3F3;
  /*color: white;*/
}
select:disabled {
  background: var(--color-morelighter);
}

option {
  background: white;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}*/

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 32px;
    margin: 60px 0 40px 0;
  }

  h2 {
    font-size: 24px;
    margin: 24px 0 12px 0;
  }

  h3 {
    font-size: 12px;
  }

  p {
    font-size: 10px;
  }

  input {
    font-size: 16px;
    height: 48px;
    min-width: auto;
    padding: 8px;
  }

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    min-width: initial;
    margin: 8px;
  }

  label {
    font-size: 12px;
  }

  select {
    color: var(--color-black, #333333);
    font-size: 16px;
    height: 48px;
    min-width: auto;

    padding: 8px;
  }
}